.tableContainer{
    margin: 60px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.options{
  position: relative;
  font-size: x-large;
  width: 30%;
  text-align: center;
  cursor: pointer;
  user-select:none;

}



.options-menu{
  z-index: 9999;
  display: block;
  position: absolute;
  height: 60px;
  width: 120px;

}
.options-closed{
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  overflow: hidden;

}
.button{
  
  background-color: white;
  border: 1px solid;
  height: 30px;
  width: 120px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
@media only screen and (max-width: 330px) {
  table {
    font-family: arial, sans-serif;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
@media only screen and (max-width: 410px) {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
@media only screen and (max-width: 550px) {
  .tableContainer{
    margin: 0px;
  }
  .options{
    position: relative;
  }
  .options-menu{
    left: -120px;
  }
}