*{text-decoration: none;}
.header{
    display: flex;
    background-color: #90A380;
    flex-direction: row;
}
.header img{
    width: 5pc;
}
.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-left: 30px;
    padding: 30px;
    cursor: pointer;
}
.title h2{
    margin: 0;
    text-decoration: none; 
    color: black;
}
.nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 25pc;
    margin: auto;
    margin-right: 60px;
}
.nav a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 390px) {
    .nav{
        min-width: 5pc;
        width: 100%;
        font-size: medium;
    }
}
@media only screen and (max-width: 480px) {
    .nav{
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 700px) {
    .header{
        display: flex;
        background-color: #90A380;
        flex-direction: column;
    }
    .title{
        margin: auto;
    }
    .nav{
        margin: auto;
        margin-bottom: 30px;
    }
}