.createContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0.1px 0.1px 5px gray;
    text-align: left;
    padding: 150px;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: x-large;
}
.multipleText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sbutton{
  
    background-color: white;
    border: 1px solid;
    height: 30px;
    width: 120px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 20pc;
}
.buttonContainer{
    padding-top: 10px;
    
}
.fieldText{
    width: 20pc;
}
.error{
    color: red;
    font-size: small;
}
@media only screen and (max-width: 315px) {
    .fieldText{
        width: 1px;
        padding: 0;
        margin: 0;
        min-width: none;
    }
    .sbutton{
        width: 1px;
    }
    .multipleText{
        width: 1px;
    }
    .createContainer{
        padding: 0;
    }
}
@media only screen and (max-width: 340px) {
    .createContainer{
        font-size: large;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 490px) {
    .fieldText{
        width: 10pc;
    }
    .sbutton{
        width: 10pc;
    }
}
@media only screen and (max-width: 620px) {
    .createContainer{
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 700px) {
    .multipleText{
        flex-direction: column;
    }
}
@media only screen and (max-width: 1200px) {
    .multipleText{
        flex-direction: column;
        width: fit-content;
    }
    .createContainer{
        align-items: center;
    }
}

@media only screen and (min-width: 1366px) {
    .fieldText{
        width: 30pc;
    }
}