@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
*{font-family: 'Work Sans', sans-serif;}
body {
  background-color: #e5e5e5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
